.button {
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-background-color: #163CC4;
    -fx-font-size: 15;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #2A0C65;
}

.button:focused {
    -fx-background-color: #F76B0B;
}

.label {
    -fx-text-fill: #030303;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 18;
}

.root {
    -fx-background-color: #F5F5F5;
}